@model MCEI.SysRegisAdmin.EN.User___EN.User

@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<h1>Cambiar Contraseña</h1>
<hr />
<form id="Form" asp-action="ChangePassword" onsubmit="CreateRecord(event)">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id"/>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" disabled />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>Contraseña Actual</label>
        <input type="password" name="oldPassword" required />
    </div>
    <div>
        <label>Nueva Contraseña</label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword_Aux">Confirmar Contraseña</label>
        <input asp-for="ConfirmPassword_Aux"/>
        <span asp-validation-for="ConfirmPassword_Aux"></span>
    </div>
    <div>
        <input type="submit" value="Cambiar Contraseña"/>
        <a asp-controller="Home" asp-action="Index">Regrear Al Inicio</a>
    </div>
    <span>@ViewBag.Error</span>
</form>

@section Scripts{
    <script>
        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }
        // Mostrar alerta de ViewBag.Error si es necesario
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            @:showErrorAlert('@ViewBag.Error');
        }
        // Función para manejar el evento de envío de formulario
        function CreateRecord(e) {
            e.preventDefault(); // Prevenir el envío del formulario

            const form = document.getElementById('Form');

            // Mostrar alerta de confirmación antes de enviar el formulario
            Swal.fire({
                title: '¿Modificar Contraseña?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí, Modificar Contraseña',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Enviar el formulario si se confirma la acción
                }
            });
        }
    </script>
}