<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mision Cristiana Elim Izalco</title>
    <link rel="icon" href="/assets/img/logos/Logo-Sin-Letras-White.png" type="image/x-icon">
    <link rel="stylesheet" href="~/MCEI.SysRegisAdmin.WebApp.styles.css" asp-append-version="true" />
    <link href="~/plugins/SweetAlert2/css/min.css" rel="stylesheet" />
    <link href="~/plugins/DataTables/css/min.css" rel="stylesheet" />
    <link href="~/plugins/DataTables/css/dataTable.css" rel="stylesheet" />
    <link href="~/plugins/Select2/css/min.css" rel="stylesheet" />
</head>
<body>
    @if(User.Identity.IsAuthenticated)
    {
        <nav>
            @if (User.Identity!.IsAuthenticated && User.IsInRole("Desarrollador"))
            {
                <ul>
                    <li>
                        <span>Principal</span>
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Administracion</span>
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Membership" asp-action="Index">Membresia</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Mantenimiento</span>
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="ProfessionOrStudy" asp-action="Index">Profesion u Oficio</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Seguridad</span>
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="User" asp-action="Index">Usuarios</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="User" asp-action="ChangePassword">Cambiar Contraseña</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a asp-area="" asp-controller="User" asp-action="Logout">Cerrar Sesión</a>
            }
        </nav>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/SweetAlert2/js/min.js"></script>
    <script src="~/plugins/DataTables/js/min.js"></script>
    <script src="~/plugins/DataTables/js/dataTable.js"></script>
    <script src="~/plugins/Select2/js/min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
