@model MCEI.SysRegisAdmin.EN.Role___EN.Role

@{
    ViewData["Title"] = "Crear Rol";
}

<h1>Crear Nuevo Rol</h1>
<span>@ViewBag.Error</span>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <input type="submit" value="Guardar Rol"/>
    </div>
</form>
<div>
    <a asp-action="Index">Regresar a La Lista</a>
</div>