@model MCEI.SysRegisAdmin.EN.Role___EN.Role

@{
    ViewData["Title"] = "Eliminar Rol";
}

<h1>Eliminar Rol Existente</h1>
<h3>¿Estas Seguro De Eliminar Este Registro? No Podras Revertir Esta Accion</h3>
<hr />
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar Rol"/> |
        <a asp-action="Index">Regresar a La Lista</a>
    </form>
</div>