@model MCEI.SysRegisAdmin.EN.Role___EN.Role

@{
    ViewData["Title"] = "Modificar Rol";
}

<h1>Editar Rol Existente</h1>
<span>@ViewBag.Error</span>
<hr />
<form asp-action="Edit" id="Form" onsubmit="CreateRecord(event)">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <input type="submit" value="Modificar Rol" />
    </div>
</form>
<div>
    <a asp-action="Index">Regresar a La Lista</a>
</div>

@section Scripts {
    <script>
        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }
        // Mostrar alerta de ViewBag.Error si es necesario
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            @:showErrorAlert('@ViewBag.Error');
        }
        function CreateRecord(e) {
            e.preventDefault();

            const form = document.getElementById('Form');
            const nameInput = document.getElementById('Name');

            if (!nameInput.value.trim()) {
                // Si el campo está vacío, no hacemos nada
                return;
            }
            const regex = /^[A-ZÑa-zñ/ ]+$/;
            if (!regex.test(nameInput.value.trim())) {
                // Si el valor no contiene solo letras, marcamos como inválido
                Swal.fire({
                    title: 'Error',
                    text: 'Por favor, Ingrese Solo Letras En El Campo.',
                    icon: 'error'
                });
                return;
            }
            Swal.fire({
                title: '¿Modificar Registro Existente?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Si, Modificar Registro'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>
} 