@model MCEI.SysRegisAdmin.EN.ProfessionOrStudy___EN.ProfessionOrStudy

@{
    ViewData["Title"] = "Eliminar Profesion u Oficio";
}

<h1>Eliminar Profesion u Oficio Existente</h1>
<hr />

<script>
    async function ShowCreatePrompt() {
        const result = await Swal.fire({
            title: `Eliminar Profesion u Oficio: ${'@Model.Name'}`,
            text: '¿Estás seguro de eliminar este registro? No podrás revertir esta acción.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        });

        // Si el usuario confirma la eliminación
        if (result.isConfirmed) {
            document.getElementById('Id').value = '@Model.Id'; // Establece el valor del campo oculto 'Id'
            document.getElementById('Form').submit(); // Envía el formulario
        } else {
            window.location.href = '@Url.Action("Index", "ProfessionOrStudy")'; // Si el usuario cancela, redirige a la acción "Index"
        }
    }
    window.onload = ShowCreatePrompt; // Asigna la función ShowCreatePrompt al evento de carga de la página
</script>

<form asp-action="Delete" id="Form">
    <input type="hidden" asp-for="Id" />
</form>
